:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}

input, textarea {
  display: block;
}
